<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="side">
    <mat-toolbar>
      <mat-toolbar-row>
        <span>Second Row</span>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <span>Third Row</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-sidenav>
  <mat-toolbar color="primary">
    <button mat-button (click)="sidenav.toggle()" matTooltip="Tooltip!">
        <mat-icon>menu</mat-icon>
    </button>
    <span>HCS</span>
  </mat-toolbar>
  <div class="margin-left-right-50">
    <div>
      <h3 class="primary-color">
        Snackbar displaying string
      </h3>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="openSnackBar()">Click to see snack bar</button>
    </div>
    <div>
      <h3 class="primary-color">
        Snackbar displaying component
      </h3>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="openSnackBarComponent()">Click to see snack bar</button>
    </div>
    <h3 class="primary-color">
      Stacked Toolbar
    </h3>
    <div>
      <mat-toolbar>
        <span>First Row</span>
        <mat-toolbar-row>
          <span>Second Row</span>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <span>Third Row</span>
        </mat-toolbar-row>
      </mat-toolbar>
      <mat-spinner></mat-spinner>
    </div>
  </div>
</mat-sidenav-container>